body{
    background-color: #6495ED;
    color: #FFF8DC;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
h1{
    color:#FFF8DC;
    
}
input[type=submit]{
    background-color: darkolivegreen;
    color:white;
    text-align: center;
}